<tal:block change:block="displaySortOptions displaySortOptions" inheritedParams="cmpref,filter,sort" module="comment" name="toolbar" totalCount="${totalCount}" disableRSS="${disableRSS}" />

<div tal:condition="showRatingDistribution" class="normal">
	<tal:block change:block="" inheritedParams="cmpref,filter,sort" module="comment" name="ratingdistribution" />
</div>

<ul tal:condition="comments" class="document-list">
	<tal:block tal:repeat="comment comments">
		<li id="${comment/getAnchor}" class="${php: repeat.comment.odd ? 'odd' : 'even'}${php: (comment.getId() == currentCommentId) ? ' current' : ''}${php: !comment.isPublished() ? ' not-published' : ''}">
			<p class="normal comment-info">
				<a change:currentPageLink="" anchor="${comment/getAnchor}" rel="nofollow">${php: repeat.comment.number + offset}.</a> 
				<tal:block change:starrating="" small="true" value="${comment/getRating}" displayOnly="true" tal:condition="enableRating"  />
				${trans: m.comment.frontoffice.posted-by,ucf}
				<a tal:omit-tag="not:comment/getAuthorwebsiteurl" class="link" href="${comment/getAuthorwebsiteurl}">${comment/getAuthorNameAsHtml}</a>
				- <tal:block change:datetime="value comment/getCreationdate; format 'classic'" />
			</p>
			<img tal:condition="showGravatars" class="avatar document-visual" src="${comment/getGravatarUrl}" alt="" />
			<div tal:condition="php: comment.isPublished() AND !enableEvaluation" class="comment-contents">${comment/getContentsAsHtml}</div>
			<div tal:condition="php: !comment.isPublished() OR enableEvaluation" class="normal comment-contents">${comment/getContentsAsHtml}</div>
			<ul tal:condition="php: comment.isPublished() AND enableEvaluation" class="comment-evaluation" tal:define="evaluationcount comment/getEvaluationcount; usefulcount php: intval(comment.getUsefulcount())">
				<li tal:condition="evaluationcount" class="evaluation-overview">
					<p tal:condition="php: usefulcount GT 1">${trans: m.comment.frontoffice.comment-useful-stat,ucf,usefulcount=usefulcount,evaluationcount=evaluationcount}</p>
					<p tal:condition="php: usefulcount LT 2">${trans: m.comment.frontoffice.comment-useful-stat-single,ucf,usefulcount=usefulcount,evaluationcount=evaluationcount}</p>
				</li>
				<li tal:condition="not: evaluationcount" class="evaluation-overview">
					<p>${trans: m.comment.frontoffice.comment-be-first,ucf}</p>
				</li>
				<li>
					<form class="comment-evaluation" tal:condition="not: comment/isEvaluatedByCurrentUser" change:form="" id="evaluate_${comment/getId}" action="#${comment/getAnchor}">
						<input change:hiddeninput="name commentId; value comment/getId" />
						<span>${trans: m.comment.frontoffice.was-this-comment-useful,ucf}</span>
						<input change:submit="name rateUseful" labeli18n="m.comment.frontoffice.comment-useful-button" />
						<input change:submit="name rateUseless" labeli18n="m.comment.frontoffice.comment-useless-button" />
					</form>
					<p tal:condition="comment/isEvaluatedByCurrentUser">${trans: m.comment.frontoffice.comment-already-evaluated,ucf}</p>
				</li>
			</ul>
			<p tal:condition="not: comment/isPublished">${trans: m.comment.frontoffice.will-be-published-after-validation,ucf}</p>
			<div class="cleaner"></div>
		</li>
	</tal:block>
</ul>

<tal:block change:paginator="comments" />