<div class="normal comment-preview">
	<ul class="document-list " tal:condition="previewComment">
		<li class="odd">
			<div class="normal comment-info">
				<tal:block change:starrating="" value="${previewComment/getRating}" displayOnly="true" small="true" />
				${trans:m.comment.frontoffice.posted-by-author,ucf,author=previewComment/getAuthorNameAsHtml} - <tal:block change:datetime="value previewComment/getCreationDate; format 'classic'" />
			</div>
			<img tal:condition="showGravatars" class="avatar document-visual" src="${previewComment/getGravatarUrl}" alt="" />
			<div class="normal">${previewComment/getContentsAsHtml}</div>
			<p class="warning">${trans:m.comment.frontoffice.this-is-only-preview,ucf}</p>
			<div class="cleaner"></div>
		</li>
	</ul>
</div>

<form change:form="beanClass comment_persistentdocument_comment; beanName comment" action="#leave-comment" id="comment-form">
	<fieldset>
		<legend>${trans:m.comment.frontoffice.comment-form,ucf}</legend>
		<ul change:errors=""></ul>
		<tal:block change:field="name beanId" hidden="true" />
		<ol>
			<tal:block tal:condition="currentUser">
				<li><input change:field="name authorName ; value currentUser/getFullName" readonly="readonly" /></li>
				<li><input change:field="name email ; value currentUser/getEmail" readonly="readonly" /></li>
			</tal:block>
			<tal:block tal:condition="not: currentUser">
				<li><input change:field="name authorName" /></li>
				<li><input change:field="name email" /></li>
			</tal:block>
				<li><input change:field="name authorwebsiteurl" /></li>
			<li tal:condition="enableRating">
				<label change:fieldlabel="name rating" required="${ratingRequired}"></label>
				<tal:block change:starrating="" name="rating" />
			</li>
			<li><input change:bbcodeinput="name contentsAsBBCode" module-profile="comment" labeled="true" required="true" /></li>
			<li tal:condition="not: currentUser">
				<img change:captcha="key 'comment'" />
				<input change:captcha="key 'comment'" />
			</li>
		</ol>
		<p class="buttons">
			<input type="hidden" change:hiddeninput="name targetId" value="${target/getId}" />
			<input change:submit="" name="save" labeli18n="m.comment.frontoffice.save" class="button submit" />
			<input change:submit="" name="preview" labeli18n="m.comment.frontoffice.preview" class="button submit" />
		</p>
	</fieldset>
</form>