<div class="normal">
	<tal:block change:block="displaySortOptions displaySortOptions" inheritedParams="cmpref,filter,sort" module="comment" name="toolbar" totalCount="${totalCount}" disableRSS="${disableRSS}" />
</div>

<div tal:condition="showRatingDistribution" class="normal">
	<tal:block change:block="" inheritedParams="cmpref,filter,sort" module="comment" name="ratingdistribution" />
</div>

<ul tal:condition="comments" class="document-list">
	<tal:block tal:repeat="comment comments">
		<li tal:define="task comment/getValidationTask" id="${comment/getAnchor}" class="${alternateclass:commentIndex}${php: (comment.getId() == currentCommentId) ? ' current' : ''}${php: !comment.isPublished() ? ' not-published' : ''}">
			<div class="hreview">
				<div class="normal meta-info">
					<a change:currentpagelink="" anchor="${comment/getAnchor}" rel="nofollow">${php: repeat.comment.number + offset}.</a> 
					<tal:block tal:condition="enableRating">
						<tal:block tal:condition="comment/getRating" change:starrating="" small="true" value="${comment/getRating}" displayOnly="true"  />
					</tal:block>
					${trans: m.comment.frontoffice.posted-by,ucf}
					<a tal:omit-tag="not:comment/getAuthorwebsiteurl" class="link" href="${comment/getAuthorwebsiteurl}">${comment/getAuthorName}</a><span class="separator"> - </span>
					${datetime:comment/getUICreationdate}
				</div>
				<img tal:condition="showGravatars" class="avatar document-visual" change:avatar="email comment/getEmail; user comment/getAuthoridInstance" size="48" />
				<div class="description normal comment-contents">${structure comment/getContentsAsHtml}</div>
				<tal:block tal:condition="php: comment.isPublished() AND enableEvaluation" class="normal-margin comment-evaluation" tal:define="evaluationcount comment/getEvaluationcount; usefulcount php: intval(comment.getUsefulcount())">
					<p class="normal evaluation-overview">
						<tal:block tal:condition="evaluationcount">
							<tal:block tal:condition="php: usefulcount GT 1">${trans: m.comment.frontoffice.comment-useful-stat,ucf,usefulcount=usefulcount,evaluationcount=evaluationcount}</tal:block>
							<tal:block tal:condition="php: usefulcount LT 2">${trans: m.comment.frontoffice.comment-useful-stat-single,ucf,usefulcount=usefulcount,evaluationcount=evaluationcount}</tal:block>
						</tal:block>
						<tal:block tal:condition="not: evaluationcount">${trans: m.comment.frontoffice.comment-be-first,ucf}</tal:block>
					</p>
					<form class="normal-margin comment-evaluation" tal:condition="not: comment/isEvaluatedByCurrentUser" change:form="" id="evaluate_${comment/getId}" action="#${comment/getAnchor}">
						<div>
							<input change:hiddeninput="name commentId; value comment/getId" />
							<span>${trans: m.comment.frontoffice.was-this-comment-useful,ucf}</span>
							<input change:submit="name rateUseful" labeli18n="m.comment.frontoffice.comment-useful-button" />
							<input change:submit="name rateUseless" labeli18n="m.comment.frontoffice.comment-useless-button" />
						</div>
					</form>
					<p tal:condition="comment/isEvaluatedByCurrentUser" class="normal">${trans: m.comment.frontoffice.comment-already-evaluated,ucf}</p>
				</tal:block>
				<tal:block tal:condition="not: comment/isPublished">
					<ul class="warnings">
						<li>${trans: m.comment.frontoffice.will-be-published-after-validation,ucf}</li>
					</ul>	
					<div tal:condition="task">
						<a change:link="module comment; action Moderate; decision 'ACCEPTED'; cmpref comment/getId; currentPage page">${trans:m.comment.frontoffice.accept,ucf}</a>
						<a change:link="module comment; action Moderate; decision 'REFUSED'; cmpref comment/getId; currentPage page" >${trans:m.comment.frontoffice.refuse,ucf}</a>
					</div>
				</tal:block>
				<!-- microformat hidden informations -->
				<div style="display: none">
					<ul class="reviewer vcard">
						<li class="fn">${comment/getAuthorName}</li>
						<li class="url">${comment/getAuthorwebsiteurl}</li>
					</ul>
					<span class="dtreviewed">${datetime:comment/getCreationdate,'c'}</span>
					<ul class="rating">
						<li class="value">${php: number_format(comment.getRating(),1)}</li>
					</ul>
					<ul class="item">
						<li class="url">${php: linkHelper::getCurrentUrl() . '#' . comment.getAnchor()}</li>
					</ul>
				</div>
			</div>
			<div class="cleaner"></div>
		</li>
	</tal:block>
</ul>

<tal:block change:paginator="comments" />